<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="SchoolCode" type="ExamReport.SchoolCodeConfig, ExamReport"/>
    <section name="DistrictCode" type="ExamReport.SchoolCodeConfig, ExamReport"/>
  </configSections>
  <appSettings>
    <add key="charsize" value="20"/>
    <add key="server" value="222.249.152.20"/>
    <add key="database" value="examdata"/>
    <add key="username" value="root"/>
    <add key="password" value="123456"/>
  </appSettings>

 
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
